/* * {
  outline: 1px solid pink;
} */

.navbar {
  top: 0;
  z-index: 2;
  width: 100%;
  opacity: .9;
  color: white;
  position: fixed;
  background: black;
}

.navRow {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navContainer {
  display: flex;
}

.leftNav {
  width: 45%;
}

.centerNav{
}

.rightNav {
  width: 50%;
}

.navbar-brand {
  color: white;
  font-size: 35px;
  font-family: serif;
  text-shadow: 0px 10px 5px black;
}

.navbar-brand:hover, .navLinks:hover {
  color: white;
  text-shadow: 2px 0px 10px darkgray;
}

.brandIcon {
  margin-top: 5px;
  color: goldenrod;
  margin-right: 15px;
  transform: rotate(30deg);
  text-shadow: 0px 5px 5px black;
}

.navLinks i {
  margin-left: 5px;
}

.rightNav ul {
  display: flex;
  flex-wrap: wrap;
}

.navLinks {
  list-style-type: none;
  margin: 20px 5px 0px 10px;
  text-shadow: 0px 4px 5px black;
}

.searchItem {
  width: 280px;
  cursor: pointer;
}

.searchItem > * {
  float: right;
}

.searchItem:hover .search-input {
  width: 200px;
  visibility: visible;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.search-input:focus {
  width: 200px;
  visibility: visible;
  border: 2px solid aqua;
}

.search-input {
  width: 0px;
    margin-right: 5px;
  border-radius: 8px;
  visibility: hidden;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.navLinks a {
  color: white;
}

.navLinks a:hover {
  text-decoration: none;
}

.navLinks span:hover {
  color: darkgray;
}


@media only screen and (max-width: 800px) {
  .brandIcon {
    font-size: 30px;
  }
  .navbar-brand {
    font-size: 25px;
    margin-left: 5px;
  }
  .leftNav {
    width: 30%;
  }
  .rightNav {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .search-input {
    width: 200px;
    visibility: visible;
  }
  .leftNav {
    width: 50%;
  }
}
